<main role="main">   
    <section class="mt-4 mb-5">
      <div class="container mb-4">
        <h1 class="font-weight-bold title">Explorar</h1>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="card-columns">
          <% @pins.each do |pin| %>
            <div class="card card-pin">
              <% if pin.images.attached? %>
                <% pin.images.each do |image| %>
                <%= image_tag image, class:"card-img" %>
                <% end %>
              <% end %>
              <div class="overlay">
                <h2 class="card-title title"><%= pin.name %></h2>
                <div class="more">
                <%= link_to '<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mostrar'.html_safe, pin %>
                <% if can? :update, pin %>
                <%= link_to '<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Editar'.html_safe, edit_pin_path(pin) %>
                <% end %>
                <% if can? :destroy, pin %>
                <%= link_to '<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Borrar'.html_safe, pin, method: :delete, data: { confirm: 'Estas seguro?' } %>
                <% end %>
                </div>              
              </div>
            </div>
            <% end %>   		
          </div>
        </div>
        <% if user_signed_in? %>
        <div class="row">
          <%= link_to 'Crear', { :controller => "/pins", :action => "new" } %>
        </div>
        <% end %>
      </div>
    </section>       
</main>
